$breakpoint-mobile-portrait: 375px;
$breakpoint-mobile-landscape: 812px;

$breakpoint-tablet-portrait: 768px;
$breakpoint-tablet-landscape: 1024px;

$breakpoint-desktop: 1200px;

* {
  font-size: 10px;
}
body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}
  
a {
  text-decoration: none;
  color: #00b8d4;

  &:hover {
      color: #b2ebf2;
  }

  &:active {
      color: #b2ebf2;
  }
}
